.hp-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 100px;
  right: 15px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1000;


  @media all and (min-width: $breakpoint-tablet-L) {
    width: 70px;
    height: 70px;
  }

  svg {
    height: 100%;
    width: 100%;

    ellipse {
      transition: 0.5s;
    }

    &:hover {
      -moz-animation-duration: 2s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-name: matrix;
      -moz-animation-play-state: running;
      -moz-animation-timing-function: linear;

      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-name: matrix;
      animation-play-state: running;
      animation-timing-function: linear;

      ellipse {
        fill: $color-dark;
      }
    }
  }
}