@import "./modules/vars";
@import "./modules/colors";
@import "./modules/breakpoints";
@import "./modules/functions";

.header {

  .inner {
    border: 2px solid red;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
  }
}

.desktop-menu {
  display: none;
  @media all and (min-width: $breakpoint-desktop-S) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include menu-item;

    li {
      &:not(:last-child) {
        margin: 0 40px 0 0;
      }

      &:first-child {
        margin: 0 51px 0 0;
      }
    }

    .nav-item {
      color: $color-grey;

      &:hover {
        color: $color-blue;
      }

      &_title {
        display: block;
        width: 100%;
        max-width: 119px;
        @include menu-logo;
        color: $color-dark;
        text-align: center;

        &:hover {
          color: $color-dark;
        }
      }
    }
  }

  &__connect {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    margin: 0 29px 0 0;
    @include menu-item;
  }

}

.mobile-menu {
  width: 100%;

  @media all and (min-width: $breakpoint-desktop-S) {
    display: none;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: $color-blue;
    color: $color-white;
    left: -3000px;
    padding: 32px 15px;
    transition: 0.3s ease;
  }

  &__title {
    @include menu-logo;
    text-align: center;
    @media all and (min-width: $breakpoint-desktop-S) {
      display: none;
    }
  }

  &__list {
    @include menu-item;
    text-align: left;

    li {
      margin-bottom: 30px;
    }

    .nav-item {
      color: $color-white;

      &:hover {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}

.mobile-menu__nav.active {
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.menu {
  &__burger {
    cursor: pointer;
    z-index: 3;
    @media all and (min-width: $breakpoint-desktop-S) {
      display: none;
    }
  }

  &__icon {
    width: 25px;
    height: 12px;
    position: relative;
    z-index: 5;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;

    span {
      display: block;
      left: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $color-dark;
      border-radius: 2px;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;
      opacity: 1;

      &:nth-child(1) {
        top: 0.2px;
      }

      &:nth-child(2) {
        top: 5.2px;
      }

      &:nth-child(3) {
        top: 10px;
      }
    }
  }

  &__icon.active {
    span {
      background-color: $color-white;

      &:nth-child(1) {
        top: 6.9px;
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 6.9px;
        transform: rotate(-135deg);
      }
    }
  }
}
