@import 'modules/vars';
@import 'modules/functions';
@import 'modules/colors';
@import 'modules/breakpoints';

.btn {
  button {
    padding: 10px 15px;
    @include menu-item;
    background-color: $color-blue;
    box-shadow: 0 15px 30px rgba(25, 70, 186, 0.2);
    color: $color-white;
    cursor: pointer;
  }
}

h1 {

}

h2 {
  
}

a {
  transition: all 0.4s;
  cursor: pointer;
}

