@import 'modules/vars';
@import 'modules/functions';
@import 'modules/colors';
@import 'modules/breakpoints';

.btn {
  button {
    padding: 10.5px 15px;
    @include btn;
    cursor: pointer;
    width: 100%;
  }
}

h1 {
  @include h1;
  width: 100%;
  max-width: 271px;
  @media all and (min-width: $breakpoint-mobile-S + 1) {
    max-width: none;
  }
  @media all and (min-width: $breakpoint-desktop-S) {
    max-width: 541px;
  }
}

h2 {
  @include h2;
  color: $color-blue;
}

a {
  transition: all 0.4s;
  cursor: pointer;
}

