$breakpoint-desktop-L: 1920px;
$breakpoint-desktop-M: 1380px;

$breakpoint-desktop-S: 1400px; //

$breakpoint-tablet-L: 1100px;
$breakpoint-tablet-M: 991px;
$breakpoint-tablet-S: 768px;

$breakpoint-mobile-L: 480px;
$breakpoint-mobile-M: 375px;

$breakpoint-mobile-S: 320px; //
