@import './breakpoints';
@import './colors';
@import './functions';

.product-swiper {
  height: 236px;
  margin-bottom: 39px;
  @media all and (min-width: $breakpoint-desktop-S) {
    height: 480px;
    margin-bottom: 30px;
  }

  &__inner {
    position: relative;
    width: 320px;
    margin: 0 auto;
  }

  &__img {
    position: relative;
    width: 320px;
    height: 236px;
    z-index: 2;
    @media all and (min-width: $breakpoint-desktop-S) {
      height: 480px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: contain;
      object-position: top;
    }
  }

  &__img-b1, &__img-b2, &__img-b3 {
    position: absolute;
  }

  &__img-b1 {
    left: 39px;
    top: 0;
    z-index: 1;
    filter: blur(2px);
    @media all and (min-width: $breakpoint-desktop-S) {
      left: -93px;
    }

    img {
      @media all and (min-width: $breakpoint-desktop-S) {
        width: 205px;
      }
    }
  }

  &__img-b2 {
    left: 166px;
    top: 78px;
    z-index: 2;
    filter: blur(2px);

    @media all and (min-width: $breakpoint-desktop-S) {
      left: 239px;
      top: 133px;
    }

    img {
      @media all and (min-width: $breakpoint-desktop-S) {
        width: 290px;
      }
    }
  }

  &__img-b3 {
    left: 0;
    bottom: -20px;
    z-index: 2;
    @media all and (min-width: $breakpoint-desktop-S) {
      display: none;
    }
  }

  &__nav {
    position: relative;
  }

  &__pagination {
    position: absolute;
    top: -100px !important;
    right: 0 !important;
    @media all and (min-width: $breakpoint-desktop-S) {
      top: -240px !important;
    }
  }

  &__fraction {
    position: absolute;
    top: -230px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-grey;
    @include fraction;
    @media all and (min-width: $breakpoint-desktop-S) {
      top: -437px;
      left: 23px;
      font-size: $font-size-fraction-d;
    }
  }

  &__timer {
    width: 100%;
    height: 4px;
    background: $color-grey-light;
    z-index: 2;
  }

  &__timer-in {
    background: $color-blue;
    width: 0;
    height: 4px;
    display: block;
  }

  &__timer-in.active {
    width: 100%;
    transition: 5s all;
  }
}

.swiper-pagination-bullet {
  margin: 0 0 30px 0 !important;
  width: 10px !important;
  height: 10px !important;
  background-color: $color-grey !important;
  opacity: 1 !important;
  @media all and (min-width: $breakpoint-desktop-S) {
    margin: 0 0 45px 0 !important;
    width: 15px !important;
    height: 15px !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: $color-grey-light !important;
}

.swiper-pagination-current {
  margin-right: -4px !important;
}

.swiper-pagination-total {
  margin-left: -4px !important;
}

.swiper-pagination-fraction {
  width: 20% !important;
  @media all and (min-width: $breakpoint-mobile-M) {
    width: 50px !important;
  }
}

.about-swiper.swiper {
  padding: 12px 12px 20px;
}

.about-swiper {
  &__inner {
    max-width: 290px;
    margin: 0 auto;
    padding: 30px 20px 38px;
    box-shadow: 0 5px 20px rgba(25, 70, 186, 0.2);
    @media all and (min-width: $breakpoint-desktop-S) {
      margin: 0;
    }
  }

  &__img {
    margin-bottom: 30px;
  }

  &__desc {
    @include about-swiper-desc;
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 13px;
    @media all and (min-width: $breakpoint-desktop-S) {
      margin-bottom: 60px;
    }
  }

  &__pagination {
    @include fraction;
    color: $color-grey;
  }

  &__nav-arrows {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 106px;
  }

  &__next, &__prev {
    width: 43px;
    height: 43px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__next {
    transform: rotate(180deg);
    margin-left: 20px;
  }

  &__timer {
    margin: 0 20px 0 15px;
    width: 100%;
    height: 4px;
    background: $color-grey-light;
    z-index: 2;
  }

  &__timer-in {
    background: $color-blue;
    width: 0;
    height: 4px;
    display: block;
  }

  &__timer-in.active {
    width: 100%;
    transition: 5s all;
  }

  .swiper-slide-active {
    opacity: 1;
  }

  .swiper-slide-next, .swiper-slide-prev {
    opacity: 50%;
  }

  .swiper-slide-next ~ div {
    opacity: 20%;
  }

}

