@keyframes filter-animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(226, 231, 250);
  }
}

.filter-svg-elem-1 {
  animation: filter-animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
}

@keyframes filter-animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(196, 210, 240);
  }
}

.filter-svg-elem-2 {
  animation: filter-animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
}

@keyframes filter-animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(226, 231, 250);
  }
}

.filter-svg-elem-3 {
  animation: filter-animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
}

@keyframes filter-animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(168, 197, 247);
  }
}

.filter-svg-elem-4 {
  animation: filter-animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
}

@keyframes filter-animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(145, 184, 251);
  }
}

.filter-svg-elem-5 {
  animation: filter-animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
}

@keyframes filter-animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(196, 210, 240);
  }
}

.filter-svg-elem-6 {
  animation: filter-animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
}

@keyframes filter-animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(168, 197, 247);
  }
}

.filter-svg-elem-7 {
  animation: filter-animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
}

@keyframes filter-animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(168, 197, 247);
  }
}

.filter-svg-elem-8 {
  animation: filter-animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
}

@keyframes filter-animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(168, 197, 247);
  }
}

.filter-svg-elem-9 {
  animation: filter-animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
}

@keyframes filter-animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(168, 197, 247);
  }
}

.filter-svg-elem-10 {
  animation: filter-animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
}

@keyframes filter-animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(168, 197, 247);
  }
}

.filter-svg-elem-11 {
  animation: filter-animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
}

@keyframes filter-animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(145, 184, 251);
  }
}

.filter-svg-elem-12 {
  animation: filter-animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
}

@keyframes filter-animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(168, 197, 247);
  }
}

.filter-svg-elem-13 {
  animation: filter-animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
}

@keyframes filter-animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(145, 184, 251);
  }
}

.filter-svg-elem-14 {
  animation: filter-animate-svg-fill-14 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s both;
}

@keyframes filter-animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(145, 184, 251);
  }
}

.filter-svg-elem-15 {
  animation: filter-animate-svg-fill-15 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s both;
}

@keyframes filter-animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 248);
  }
}

.filter-svg-elem-16 {
  animation: filter-animate-svg-fill-16 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s both;
}

@keyframes filter-animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 248);
  }
}

.filter-svg-elem-17 {
  animation: filter-animate-svg-fill-17 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s both;
}

@keyframes filter-animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 248);
  }
}

.filter-svg-elem-18 {
  animation: filter-animate-svg-fill-18 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s both;
}

@keyframes filter-animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 248);
  }
}

.filter-svg-elem-19 {
  animation: filter-animate-svg-fill-19 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s both;
}

@keyframes filter-animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 248);
  }
}

.filter-svg-elem-20 {
  animation: filter-animate-svg-fill-20 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.7s both;
}

@keyframes filter-animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(248, 248, 248);
  }
}

.filter-svg-elem-21 {
  animation: filter-animate-svg-fill-21 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.8s both;
}

@keyframes filter-animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(102, 160, 254);
  }
}

.filter-svg-elem-22 {
  animation: filter-animate-svg-fill-22 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.9000000000000004s both;
}