@keyframes install-animate-svg-stroke-1 {
  0% {
    stroke-dashoffset: 511.8766174316406px;
    stroke-dasharray: 511.8766174316406px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 511.8766174316406px;
  }
}

@keyframes install-animate-svg-fill-1 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_1_");
  }
}

.install-svg-elem-1 {
  animation: install-animate-svg-stroke-1 1s linear 0s both,
  install-animate-svg-fill-1 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-2 {
  0% {
    stroke-dashoffset: 100.90129852294922px;
    stroke-dasharray: 100.90129852294922px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 100.90129852294922px;
  }
}

@keyframes install-animate-svg-fill-2 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_2_");
  }
}

.install-svg-elem-2 {
  animation: install-animate-svg-stroke-2 1s linear 0s both,
  install-animate-svg-fill-2 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-3 {
  0% {
    stroke-dashoffset: 631.495361328125px;
    stroke-dasharray: 631.495361328125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 631.495361328125px;
  }
}

@keyframes install-animate-svg-fill-3 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_3_");
  }
}

.install-svg-elem-3 {
  animation: install-animate-svg-stroke-3 1s linear 0s both,
  install-animate-svg-fill-3 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-4 {
  0% {
    stroke-dashoffset: 212.1784210205078px;
    stroke-dasharray: 212.1784210205078px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 212.1784210205078px;
  }
}

@keyframes install-animate-svg-fill-4 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_4_");
  }
}

.install-svg-elem-4 {
  animation: install-animate-svg-stroke-4 1s linear 0s both,
  install-animate-svg-fill-4 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-5 {
  0% {
    stroke-dashoffset: 319.05706787109375px;
    stroke-dasharray: 319.05706787109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 319.05706787109375px;
  }
}

@keyframes install-animate-svg-fill-5 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_5_");
  }
}

.install-svg-elem-5 {
  animation: install-animate-svg-stroke-5 1s linear 0s both,
  install-animate-svg-fill-5 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-6 {
  0% {
    stroke-dashoffset: 539.4034423828125px;
    stroke-dasharray: 539.4034423828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 539.4034423828125px;
  }
}

@keyframes install-animate-svg-fill-6 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_6_");
  }
}

.install-svg-elem-6 {
  animation: install-animate-svg-stroke-6 1s linear 0s both,
  install-animate-svg-fill-6 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-7 {
  0% {
    stroke-dashoffset: 1322.450927734375px;
    stroke-dasharray: 1322.450927734375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1322.450927734375px;
  }
}

@keyframes install-animate-svg-fill-7 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_7_");
  }
}

.install-svg-elem-7 {
  animation: install-animate-svg-stroke-7 1s linear 0s both,
  install-animate-svg-fill-7 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-8 {
  0% {
    stroke-dashoffset: 88px;
    stroke-dasharray: 88px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 88px;
  }
}

@keyframes install-animate-svg-fill-8 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_8_");
  }
}

.install-svg-elem-8 {
  animation: install-animate-svg-stroke-8 1s linear 0s both,
  install-animate-svg-fill-8 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-9 {
  0% {
    stroke-dashoffset: 181.53799438476562px;
    stroke-dasharray: 181.53799438476562px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.53799438476562px;
  }
}

@keyframes install-animate-svg-fill-9 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(77, 78, 79);
  }
}

.install-svg-elem-9 {
  animation: install-animate-svg-stroke-9 1s linear 0s both,
  install-animate-svg-fill-9 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-10 {
  0% {
    stroke-dashoffset: 88px;
    stroke-dasharray: 88px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 88px;
  }
}

@keyframes install-animate-svg-fill-10 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_9_");
  }
}

.install-svg-elem-10 {
  animation: install-animate-svg-stroke-10 1s linear 0s both,
  install-animate-svg-fill-10 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-11 {
  0% {
    stroke-dashoffset: 181.53807067871094px;
    stroke-dasharray: 181.53807067871094px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.53807067871094px;
  }
}

@keyframes install-animate-svg-fill-11 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(77, 78, 79);
  }
}

.install-svg-elem-11 {
  animation: install-animate-svg-stroke-11 1s linear 0s both,
  install-animate-svg-fill-11 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-12 {
  0% {
    stroke-dashoffset: 88px;
    stroke-dasharray: 88px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 88px;
  }
}

@keyframes install-animate-svg-fill-12 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_10_");
  }
}

.install-svg-elem-12 {
  animation: install-animate-svg-stroke-12 1s linear 0s both,
  install-animate-svg-fill-12 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-13 {
  0% {
    stroke-dashoffset: 181.53802490234375px;
    stroke-dasharray: 181.53802490234375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.53802490234375px;
  }
}

@keyframes install-animate-svg-fill-13 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(77, 78, 79);
  }
}

.install-svg-elem-13 {
  animation: install-animate-svg-stroke-13 1s linear 0s both,
  install-animate-svg-fill-13 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-14 {
  0% {
    stroke-dashoffset: 88px;
    stroke-dasharray: 88px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 88px;
  }
}

@keyframes install-animate-svg-fill-14 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_11_");
  }
}

.install-svg-elem-14 {
  animation: install-animate-svg-stroke-14 1s linear 0s both,
  install-animate-svg-fill-14 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-15 {
  0% {
    stroke-dashoffset: 181.53794860839844px;
    stroke-dasharray: 181.53794860839844px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 181.53794860839844px;
  }
}

@keyframes install-animate-svg-fill-15 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(77, 78, 79);
  }
}

.install-svg-elem-15 {
  animation: install-animate-svg-stroke-15 1s linear 0s both,
  install-animate-svg-fill-15 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-16 {
  0% {
    stroke-dashoffset: 519.4241943359375px;
    stroke-dasharray: 519.4241943359375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 519.4241943359375px;
  }
}

@keyframes install-animate-svg-fill-16 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_12_");
  }
}

.install-svg-elem-16 {
  animation: install-animate-svg-stroke-16 1s linear 0s both,
  install-animate-svg-fill-16 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-17 {
  0% {
    stroke-dashoffset: 186.7050018310547px;
    stroke-dasharray: 186.7050018310547px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 186.7050018310547px;
  }
}

@keyframes install-animate-svg-fill-17 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_13_");
  }
}

.install-svg-elem-17 {
  animation: install-animate-svg-stroke-17 1s linear 0s both,
  install-animate-svg-fill-17 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-18 {
  0% {
    stroke-dashoffset: 481.4014892578125px;
    stroke-dasharray: 481.4014892578125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 481.4014892578125px;
  }
}

@keyframes install-animate-svg-fill-18 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_14_");
  }
}

.install-svg-elem-18 {
  animation: install-animate-svg-stroke-18 1s linear 0s both,
  install-animate-svg-fill-18 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-19 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2px;
  }
}

@keyframes install-animate-svg-fill-19 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_15_");
  }
}

.install-svg-elem-19 {
  animation: install-animate-svg-stroke-19 1s linear 0s both,
  install-animate-svg-fill-19 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-20 {
  0% {
    stroke-dashoffset: 712.7815551757812px;
    stroke-dasharray: 712.7815551757812px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 712.7815551757812px;
  }
}

@keyframes install-animate-svg-fill-20 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_16_");
  }
}

.install-svg-elem-20 {
  animation: install-animate-svg-stroke-20 1s linear 0s both,
  install-animate-svg-fill-20 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-21 {
  0% {
    stroke-dashoffset: 454.4000244140625px;
    stroke-dasharray: 454.4000244140625px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 454.4000244140625px;
  }
}

@keyframes install-animate-svg-fill-21 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_17_");
  }
}

.install-svg-elem-21 {
  animation: install-animate-svg-stroke-21 1s linear 0s both,
  install-animate-svg-fill-21 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-22 {
  0% {
    stroke-dashoffset: 257.4225616455078px;
    stroke-dasharray: 257.4225616455078px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 257.4225616455078px;
  }
}

@keyframes install-animate-svg-fill-22 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_18_");
  }
}

.install-svg-elem-22 {
  animation: install-animate-svg-stroke-22 1s linear 0s both,
  install-animate-svg-fill-22 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-23 {
  0% {
    stroke-dashoffset: 802.4034423828125px;
    stroke-dasharray: 802.4034423828125px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 802.4034423828125px;
  }
}

@keyframes install-animate-svg-fill-23 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_19_");
  }
}

.install-svg-elem-23 {
  animation: install-animate-svg-stroke-23 1s linear 0s both,
  install-animate-svg-fill-23 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-24 {
  0% {
    stroke-dashoffset: 3px;
    stroke-dasharray: 3px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3px;
  }
}

.install-svg-elem-24 {
  animation: install-animate-svg-stroke-24 1s linear 0s both,
  install-animate-svg-fill-24 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-25 {
  0% {
    stroke-dashoffset: 3px;
    stroke-dasharray: 3px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 3px;
  }
}

.install-svg-elem-25 {
  animation: install-animate-svg-stroke-25 1s linear 0s both,
  install-animate-svg-fill-25 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-26 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2px;
  }
}

.install-svg-elem-26 {
  animation: install-animate-svg-stroke-26 1s linear 0s both,
  install-animate-svg-fill-26 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-27 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2px;
  }
}

.install-svg-elem-27 {
  animation: install-animate-svg-stroke-27 1s linear 0s both,
  install-animate-svg-fill-27 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-28 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2px;
  }
}

.install-svg-elem-28 {
  animation: install-animate-svg-stroke-28 1s linear 0s both,
  install-animate-svg-fill-28 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-29 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2px;
  }
}

.install-svg-elem-29 {
  animation: install-animate-svg-stroke-29 1s linear 0s both,
  install-animate-svg-fill-29 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-30 {
  0% {
    stroke-dashoffset: 2px;
    stroke-dasharray: 2px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 2px;
  }
}

@keyframes install-animate-svg-fill-30 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_20_");
  }
}

.install-svg-elem-30 {
  animation: install-animate-svg-stroke-30 1s linear 0s both,
  install-animate-svg-fill-30 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-31 {
  0% {
    stroke-dashoffset: 110.07078728348888px;
    stroke-dasharray: 110.07078728348888px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 110.07078728348888px;
  }
}

@keyframes install-animate-svg-fill-31 {
  0% {
    fill: transparent;
  }

  100% {
    fill: rgb(9, 43, 61);
  }
}

.install-svg-elem-31 {
  animation: install-animate-svg-stroke-31 1s linear 0s both,
  install-animate-svg-fill-31 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-32 {
  0% {
    stroke-dashoffset: 170.01873779296875px;
    stroke-dasharray: 170.01873779296875px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 170.01873779296875px;
  }
}

.install-svg-elem-32 {
  animation: install-animate-svg-stroke-32 1s linear 0s both,
  install-animate-svg-fill-32 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-33 {
  0% {
    stroke-dashoffset: 25.82957649230957px;
    stroke-dasharray: 25.82957649230957px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 25.82957649230957px;
  }
}

.install-svg-elem-33 {
  animation: install-animate-svg-stroke-33 1s linear 0s both,
  install-animate-svg-fill-33 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-34 {
  0% {
    stroke-dashoffset: 25.82957649230957px;
    stroke-dasharray: 25.82957649230957px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 25.82957649230957px;
  }
}

.install-svg-elem-34 {
  animation: install-animate-svg-stroke-34 1s linear 0s both,
  install-animate-svg-fill-34 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-35 {
  0% {
    stroke-dashoffset: 25.82957649230957px;
    stroke-dasharray: 25.82957649230957px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 25.82957649230957px;
  }
}

.install-svg-elem-35 {
  animation: install-animate-svg-stroke-35 1s linear 0s both,
  install-animate-svg-fill-35 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-36 {
  0% {
    stroke-dashoffset: 25.82957649230957px;
    stroke-dasharray: 25.82957649230957px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 25.82957649230957px;
  }
}

.install-svg-elem-36 {
  animation: install-animate-svg-stroke-36 1s linear 0s both,
  install-animate-svg-fill-36 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-37 {
  0% {
    stroke-dashoffset: 509.0041809082031px;
    stroke-dasharray: 509.0041809082031px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 509.0041809082031px;
  }
}

@keyframes install-animate-svg-fill-37 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_21_");
  }
}

.install-svg-elem-37 {
  animation: install-animate-svg-stroke-37 1s linear 0s both,
  install-animate-svg-fill-37 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-38 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-38 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_22_");
  }
}

.install-svg-elem-38 {
  animation: install-animate-svg-stroke-38 1s linear 0s both,
  install-animate-svg-fill-38 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-39 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-39 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_23_");
  }
}

.install-svg-elem-39 {
  animation: install-animate-svg-stroke-39 1s linear 0s both,
  install-animate-svg-fill-39 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-40 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-40 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_24_");
  }
}

.install-svg-elem-40 {
  animation: install-animate-svg-stroke-40 1s linear 0s both,
  install-animate-svg-fill-40 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-41 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-41 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_25_");
  }
}

.install-svg-elem-41 {
  animation: install-animate-svg-stroke-41 1s linear 0s both,
  install-animate-svg-fill-41 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-42 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-42 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_26_");
  }
}

.install-svg-elem-42 {
  animation: install-animate-svg-stroke-42 1s linear 0s both,
  install-animate-svg-fill-42 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-43 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-43 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_27_");
  }
}

.install-svg-elem-43 {
  animation: install-animate-svg-stroke-43 1s linear 0s both,
  install-animate-svg-fill-43 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-44 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-44 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_28_");
  }
}

.install-svg-elem-44 {
  animation: install-animate-svg-stroke-44 1s linear 0s both,
  install-animate-svg-fill-44 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-45 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-45 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_29_");
  }
}

.install-svg-elem-45 {
  animation: install-animate-svg-stroke-45 1s linear 0s both,
  install-animate-svg-fill-45 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-46 {
  0% {
    stroke-dashoffset: 168px;
    stroke-dasharray: 168px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 168px;
  }
}

@keyframes install-animate-svg-fill-46 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_30_");
  }
}

.install-svg-elem-46 {
  animation: install-animate-svg-stroke-46 1s linear 0s both,
  install-animate-svg-fill-46 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-47 {
  0% {
    stroke-dashoffset: 509.0041809082031px;
    stroke-dasharray: 509.0041809082031px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 509.0041809082031px;
  }
}

@keyframes install-animate-svg-fill-47 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_31_");
  }
}

.install-svg-elem-47 {
  animation: install-animate-svg-stroke-47 1s linear 0s both,
  install-animate-svg-fill-47 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-48 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-48 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_32_");
  }
}

.install-svg-elem-48 {
  animation: install-animate-svg-stroke-48 1s linear 0s both,
  install-animate-svg-fill-48 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-49 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-49 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_33_");
  }
}

.install-svg-elem-49 {
  animation: install-animate-svg-stroke-49 1s linear 0s both,
  install-animate-svg-fill-49 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-50 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-50 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_34_");
  }
}

.install-svg-elem-50 {
  animation: install-animate-svg-stroke-50 1s linear 0s both,
  install-animate-svg-fill-50 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-51 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-51 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_35_");
  }
}

.install-svg-elem-51 {
  animation: install-animate-svg-stroke-51 1s linear 0s both,
  install-animate-svg-fill-51 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-52 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-52 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_36_");
  }
}

.install-svg-elem-52 {
  animation: install-animate-svg-stroke-52 1s linear 0s both,
  install-animate-svg-fill-52 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-53 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-53 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_37_");
  }
}

.install-svg-elem-53 {
  animation: install-animate-svg-stroke-53 1s linear 0s both,
  install-animate-svg-fill-53 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-54 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-54 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_38_");
  }
}

.install-svg-elem-54 {
  animation: install-animate-svg-stroke-54 1s linear 0s both,
  install-animate-svg-fill-54 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-55 {
  0% {
    stroke-dashoffset: 172px;
    stroke-dasharray: 172px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 172px;
  }
}

@keyframes install-animate-svg-fill-55 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_39_");
  }
}

.install-svg-elem-55 {
  animation: install-animate-svg-stroke-55 1s linear 0s both,
  install-animate-svg-fill-55 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-56 {
  0% {
    stroke-dashoffset: 168px;
    stroke-dasharray: 168px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 168px;
  }
}

@keyframes install-animate-svg-fill-56 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_40_");
  }
}

.install-svg-elem-56 {
  animation: install-animate-svg-stroke-56 1s linear 0s both,
  install-animate-svg-fill-56 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-57 {
  0% {
    stroke-dashoffset: 453.58050537109375px;
    stroke-dasharray: 453.58050537109375px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 453.58050537109375px;
  }
}

@keyframes install-animate-svg-fill-57 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_41_");
  }
}

.install-svg-elem-57 {
  animation: install-animate-svg-stroke-57 1s linear 0s both,
  install-animate-svg-fill-57 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-58 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-58 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_42_");
  }
}

.install-svg-elem-58 {
  animation: install-animate-svg-stroke-58 1s linear 0s both,
  install-animate-svg-fill-58 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-59 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-59 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_43_");
  }
}

.install-svg-elem-59 {
  animation: install-animate-svg-stroke-59 1s linear 0s both,
  install-animate-svg-fill-59 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-60 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-60 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_44_");
  }
}

.install-svg-elem-60 {
  animation: install-animate-svg-stroke-60 1s linear 0s both,
  install-animate-svg-fill-60 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-61 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-61 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_45_");
  }
}

.install-svg-elem-61 {
  animation: install-animate-svg-stroke-61 1s linear 0s both,
  install-animate-svg-fill-61 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-62 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-62 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_46_");
  }
}

.install-svg-elem-62 {
  animation: install-animate-svg-stroke-62 1s linear 0s both,
  install-animate-svg-fill-62 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-63 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-63 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_47_");
  }
}

.install-svg-elem-63 {
  animation: install-animate-svg-stroke-63 1s linear 0s both,
  install-animate-svg-fill-63 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-64 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-64 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_48_");
  }
}

.install-svg-elem-64 {
  animation: install-animate-svg-stroke-64 1s linear 0s both,
  install-animate-svg-fill-64 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-65 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-65 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_49_");
  }
}

.install-svg-elem-65 {
  animation: install-animate-svg-stroke-65 1s linear 0s both,
  install-animate-svg-fill-65 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-66 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-66 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_50_");
  }
}

.install-svg-elem-66 {
  animation: install-animate-svg-stroke-66 1s linear 0s both,
  install-animate-svg-fill-66 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-67 {
  0% {
    stroke-dashoffset: 128px;
    stroke-dasharray: 128px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 128px;
  }
}

@keyframes install-animate-svg-fill-67 {
  0% {
    fill: transparent;
  }

  100% {
    fill: url("#SVGID_51_");
  }
}

.install-svg-elem-67 {
  animation: install-animate-svg-stroke-67 1s linear 0s both,
  install-animate-svg-fill-67 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}

@keyframes install-animate-svg-stroke-68 {
  0% {
    stroke-dashoffset: 1466px;
    stroke-dasharray: 1466px;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 1466px;
  }
}

.install-svg-elem-68 {
  animation: install-animate-svg-stroke-68 1s linear 0s both,
  install-animate-svg-fill-68 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) 0s both;
}
