.measure-screen, .modal {

  .inner {
    position: relative;

    &::after {
      @media all and (min-width: $breakpoint-tablet-L) {
        background-color: #272a41;
        bottom: 0;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        width: 100vw;
      }
    }
  }

  .title-block {
    &:nth-child(2) {
      @media all and (min-width: $breakpoint-tablet-L) {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        max-width: 1920px;
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  .measure-screen-img {
    position: relative;
    padding: 0 0 50%;
    margin-bottom: 15px;
    @media all and (min-width: $breakpoint-tablet-L) {
      flex: 0 1 50%;
      padding: 0;
      margin-bottom: 0;
    }

    &::before {
      @media all and (min-width: $breakpoint-tablet-L) {
        content: "";
        position: absolute;
        height: 100%;
        left: -0.1%;
        bottom: 0;
        width: 1px;
        background-color: $color-dark;
      }
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
      object-position: top;
      transition: 1s;
      @media all and (min-width: $breakpoint-tablet-L) {
        object-fit: cover;
      }
    }
  }

  .measure-screen-form.container {
    @media all and (min-width: $breakpoint-tablet-L) {
      margin: 0 auto;
      padding: 50px 20px 45px 65px;
      width: auto;
      max-width: 600px;
    }
    @media all and (min-width: $breakpoint-desktop-M) {
      padding: 50px 20px 45px 0;
    }
  }

  .measure-screen-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: $breakpoint-tablet-L) {
      flex: 0 1 50%;
      align-items: flex-start;
    }
  }

  form {
    @media all and (min-width: $breakpoint-tablet-L) {
      width: 100%;
      max-width: 600px;
    }
  }

  .form-title {
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    @media all and (min-width: $breakpoint-tablet-L) {
      font-size: 20px;
      line-height: 23px;
    }
    @media all and (min-width: $breakpoint-desktop-M) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  input[type=text] {
    padding-left: 9px;
    width: 100%;
    height: 40px;
    border: 1px solid $color-dark;
    border-radius: 5px;

    font-family: $font-Play;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    @media all and (min-width: $breakpoint-tablet-L) {
      height: 50px;
    }

    &:focus {
      box-shadow: 0 0 15px $color-dark;
    }
  }

  input._error {
    box-shadow: 0 0 15px red;
  }

  .input {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .input-name {
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;

    @media all and (min-width: $breakpoint-tablet-L) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  .measure-screen__btn {
    margin: 25px auto 20px;
    @media all and (min-width: $breakpoint-tablet-L) {
      margin: 25px 0 20px;
    }
  }

  textarea {
    outline: none;
    -moz-appearance: none;
    resize: none;

    font-family: $font-Play;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    width: 100%;
    height: 100px;
    padding: 9px;
    border: 1px solid $color-dark;
    border-radius: 5px;

    &:focus {
      box-shadow: 0 0 15px $color-dark;
    }
  }

  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: $color-dark;
    opacity: 0.3;
  }

  textarea:-moz-placeholder, input:-moz-placeholder {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: $color-dark;
    opacity: 0.3;
  }
}